body{
    /* background-color: #6e3eff; */
    height:100%;
    background-image: url("../images/bg.jpg")

}

.nav-div{
    /* display: flex; */
    color: white;
}
.nav-ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 1em;
    font-family: 'Lato', sans-serif;
}
.nav-li{
    display: inline-block;
    /* margin:0 1em; */
    
}
a:visited {
    color: white;
    text-decoration: none;
}
.logo{
    justify-self: flex-start;
    flex-grow: 1;
}

.center{
    justify-self: center;
    flex-grow: 1;

    /* justify-self: center; */
}

.sign-up{
    margin-left: .5em;
    border: 0.2px solid white;
    border-radius: 8px;    
    padding: .5em;

}
.main{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-left: 1em;
}
.title-h1{ 
    text-align: center;
    color: rgb(230, 29, 29);
    color: rgb(249, 253, 7);

    font-family: 'Holtwood One SC', serif;
    
}
.title-h3{
    font-family: 'Tilt Warp', cursive;
    color: #2d2d2d;
    color: white;
}

.sign-in-form{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    border-radius: 10px;
    width: 500px;
    padding: 4em 0;
    justify-content: center;
    align-items: center;
    /* border: 0.5px solid white; */
    color: white;
    font-size: 1em;
}

.sign-in-input{
    font-size: 1em;
    height: 2em;
    margin: 0.2em;
    text-shadow: none;
    border: 1px solid #ccc;

    border-radius: 8px;
    width: 15em;
}

.note{
    color: #ebe2e2;
    font-size: 0.9em;
    margin-left: 0.2em;
}

.btn-submit{
    margin: 1em;
    background-color: #6e3eff;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 3em;
    color: white;
    width: 50%;
    cursor: pointer;
    
}
.btn-submit:hover{
    background-color: #52389e;
    transition: 0.5s;
}
.info-div label{
    display: block;
}
#birthday{
    height: 3em;
    width: 18.8em;

}
form small,.error{
    display: block;
    color: red;
}
.success{
    color: lightgreen;
}

.error{
    font-size:large;
}






.btn-signout,#btn-add{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color:  white;
}

.a-add{
    display: block;
    margin: 0 auto;
    width: fit-content;
}

/* .text-area{
    /* font-size: 1em; */
    /* width: 18em;
    height: 10em;

  
} */ 
.btn-post{
    display: block;
    text-align: center;
    /* width: 100%; */
}

.post-input{
    width: 300px;
}
.post-area{
    height: 6em;
    font-size: 2em;
}



hr{
    /*  */
    /* width: 80%; */
    border: 0.5px solid #ebdada;;
}

.post{
    /* border: .5px solid white; */
    border-radius: 8px;
    margin:2em 0em;
}
/*Display My Post begin */
.title-post{
    color: rgb(233, 37, 37);
    margin: 0;
    font-size: 1.5em;
}

.content{
    color: white;
    margin: 0;
    font-size: 1.2em;

}

.author{
    color: rgb(235, 184, 42);
    margin: 0.2em 0;
    font-weight: bold;
    font-size: 1em;
}
.time{
    color: rgb(194, 155, 47);
    margin-left: 0.1em;
    font-size: medium;

}

.post-comment{
    /* border: 1px  solid yellow; */
}
.reponse{
    color: greenyellow;
}
.comment-user{
    color: rgb(239, 243, 10);

}



.tweet-header {
    display: flex;
    align-items: center;
  }

  .tweet-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .tweet-username {
    font-weight: bold;
    margin-right: 5px;
    color: rgb(255, 255, 255);

  }

  .tweet-handle {
    color: #999;
  }

  .tweet-body {
    margin-top: 10px;
    color: white;
    /* margin: 0; */
    font-size: 1.2em;
  }

  .tweet-media {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
  }