body{
    /* background-color: #6e3eff; */
    height:100%;
    box-sizing: border-box;

    /* background-image: url("../images/bg.jpg"); */
    margin: 0;

}

nav li{
    color:rgb(170, 170, 170);
    /* color: ; */
}

.nav-div{
    /* color:rgb(170, 170, 170); */
    /* color: white; */
}
.nav-ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 1em;
    font-family: 'Lato', sans-serif;
}
.nav-li{
    display: inline-block;    
}
.nav-li:hover{
    color: #2d2d2d;
    transition: .5s;
}
.last{
    /* justify-self: center; */
    text-align: center;
    flex-grow: 1;
}
a:visited {
    /* color: white; */
    color: inherit;
    text-decoration: none;
    /* color:black; */
}
a{
    text-decoration: none;
}
.logo{
    justify-self: flex-start;
    margin:0 1em;
    /* flex-grow: 1; */
}
.logo-img{
    width: 200px;
    transform: translateX(-2em);

}

.center{
    justify-self: center;
    flex-grow: 1;
}

.sign-up{
    margin-left: .5em;
    border: 0.2px solid #3B71CA;
    border-radius: 8px;    
    padding: .5em;
    /* background-color: rgb(51, 30, 238); */
    color: #3B71CA;
}
.sign-up:hover{
    color: white;
    background-color: #3B71CA;
}
.main{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: white;
    margin: 0;
    background-color: #eded;
}
.title-h1{ 
    text-align: center;
    color: rgb(230, 29, 29);
    color: rgb(249, 253, 7);

    font-family: 'Holtwood One SC', serif;
    
}
.title-h3{
    font-family: 'Tilt Warp', cursive;
    color: #2d2d2d;
    color: white;
}

.sign-in-form{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    border-radius: 10px;
    width: 500px;
    padding: 4em 0;
    justify-content: center;
    align-items: center;
    /* border: 0.5px solid white; */
    color: white;
    font-size: 1em;
}

.sign-in-input{
    font-size: 1em;
    height: 2em;
    margin: 0.2em;
    text-shadow: none;
    border: 1px solid #ccc;

    border-radius: 8px;
    width: 15em;
}

.note{
    color: #ebe2e2;
    font-size: 0.9em;
    margin-left: 0.2em;
}

.btn-submit{
    margin: 1em;
    background-color: #6e3eff;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 3em;
    color: white;
    width: 50%;
    cursor: pointer;
    
}
.btn-submit:hover{
    background-color: #52389e;
    transition: 0.5s;
}
.info-div label{
    display: block;
}
#birthday{
    height: 3em;
    width: 18.8em;

}
form small,.error{
    display: block;
    color: red;
}
.success{
    color: lightgreen;
}

.error{
    font-size:large;
}




.btn-signout,#btn-add{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    /* color:  white; */
}

.a-add{
    display: block;
    margin: 0 auto;
    width: fit-content;
}
.btn-post{
    display: block;
    text-align: center;
    /* width: 100%; */
}

.post-input{
    width: 300px;
}
.post-area{
    height: 6em;
    font-size: 2em;
}



hr{
    /*  */
    /* width: 80%; */
    border: 0.5px solid #ebdada;;
}

.post{
    /* border: .5px solid white; */
    border-radius: 8px;
    margin:2em 0em;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background: white;
}
/*Display My Post begin */
.title-post{
    color: rgb(233, 37, 37);
    margin: 0;
    font-size: 1.5em;
}

.content{
    margin: 0;
    font-size: 1.1em;
    color: #125d9e;


}

.author{
    margin: 0.2em 0;
    font-weight: bold;
    font-size: 1em;
color: rgb(40, 161, 70);

}
.time{
    color: #999;
    margin-left: 0.1em;
    font-size: medium;

}


.post-header {
    display: flex;
    align-items: center;
}
.post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.comment-avatar{
    width: 40px;
    height: 40px;


}
.post-username {
font-weight: bold;
margin-right: 5px;
color: rgb(40, 161, 70);
}
.comment-username{
    /* padding-top: 0.2em; */
    align-self: flex-start;
    display: block;
    margin-bottom:1em ;
    font-size: smaller;
}

.post-handle {
color: #999;
}

.post-body{
    margin-top: 10px;
    font-size: 1.2em;
    color: #0275d8;
}



.like-edit-bar {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* border-bottom: 1px solid #ddd; */
    padding: 10px;
    width: 100%;
  }

  .like-button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* padding: 5px 10px; */
    color: #999;
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* width: 33.3333%; */
    text-align: center;
  }

  .like-button:hover {
    background-color: #f9f9f9;
  }

  /* .edit-button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    color: #999;
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
    text-align: center;
  } */

  .edit-button:hover {
    background-color: #f9f9f9;
  }

  .edit-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 126, 255, 0.3);
  }


.edit{
    background: none;
	color: inherit;
	border: none;
	/* padding: 0; */
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 39px;
    height: 30px;
}


.like-btn {
    display: inline-flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    /* padding: 0; */
  }
  
  .like-icon {
    width: 20px;
    height: 20px;
    /* background-image: url("https://www.freepnglogos.com/uploads/like-png/facebook-favorite-hand-like-icon-31.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
    margin: 0.4em;
    margin-bottom: 0.6em;
  }
  
  .like-text {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .like-count {
    font-size: 14px;
    font-weight: bold;
  }

.like-icon{
    /* background: none; */
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.form-like{
    display: flex;
    /* padding-top: 5px; */
    align-items: center;
}


/* sidebar */
.sidebar {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    flex-direction: column;
  }
  
  .user {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;

  }
  
  .user img {
    width: 75px;
    height: 75px;
    /*border-radius: 50%;*/
    margin-right: 10px;
  }
  
  .user h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
  }





.side-bar{
    background-color: white;
}
.conteneur{
    /* width: 20%; */
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}    
/* user-dashboard-info-box */
/* .user-dashboard-info-box .users-list .thumb {
    margin-right: 20px;
} */
.user-dashboard-info-box .users-list .thumb img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.user-dashboard-info-box .title {

    display: flex;
    align-items: center;
    padding: 30px 0;
    margin-left: 5px;
}
.user-dashboard-info-box .user-list-favourite-time .user-list-favourite {
    margin-bottom: 10px;
}
.user-dashboard-info-box .user-list-details ul {
    color: #969696;
}

.user-list-details ul li {
    margin: 5px 20px 5px 0px;
    font-size: 13px;
}
.list-unstyled{
    padding-inline-start: 20px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}
.list-unstyled li{
    margin: 1.2em;
}
.users-list{
    
    
    border-bottom: 1px solid rgba(138, 127, 138, 0.867);
    width: 80%;
    border-top: 1px solid rgba(138, 127, 138, 0.867);


}
.users-list:hover{
    background-color: #eeecec;
    transition: 1s;
    padding: 3em;
}
table {
    border-collapse: collapse;
  }
h5 {
    font-size: 1em;
    color: blue;
}
.link-bar{
display: none;
color: inherit;
}